.list-group-item h5{
	float: left;
}

.list-group-item h6{
	float: right;
	font-style:italic;
	color:#414141;
}

.post-content-text{
	margin-top:35px;
}

.get-post-tendance{
	font-size: 13px;
	font-style: italic;
	font-weight:bold;
	float: right;
}

button{
	margin-right:10px;
}
